<nav class="navbar">
    <div class="nav-left">
        <div class="nav-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <a href="/" class="nav-logo">The Ritual Co</a>
    </div>
    <ul class="nav-links" id="nav-links">
        <li><a href="/about.html">About</a></li>
        <li><a href="/products/products.html">Products</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="/blog/blog.html">Blog</a></li>
        <li><a href="/contact.html">Contact Us</a></li>
    </ul>
</nav>

